/* Break Points: for max
1- 1920px OK
2- 992px OK 
3- 768px OK
4- 576px OK
min ==> ascending 
*/

body {
  user-select: none;
}

#account-picture {
  border-radius: 50%;
}

#home-page {
  position: relative;
  background-repeat: no-repeat;
  width: 90vw;
  /* height: 600vh; */
  margin-top: 5vw;
  margin-left: 3vw;
  /* margin-bottom: -20px; */

}

#school-pic {
  width: 65.9%;
  /* height: 100%; */
  /* position: absolute; */
  /* absolute: means fixed to last relative parent (#home-page)*/
  /* right: 0px; */
  /* bottom: -35px; */
  z-index: -1;
  float: right;
}

#school-title {
  position: absolute;
  top: 3%;
  /* left:7px; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3vw;
  color: rgba(0, 165, 88, 0.904);
}

#apply {
  position: absolute;
  top: 35vh;
  left: 2vw;  
  display: inline-block;
  width: 19vw;
  height: 10vh;
  text-align: center;
  text-decoration: none;
  color: White;
  background-color: rgba(255, 217, 0, 0.623);
  padding-top: 1vh;
  font-size: 2vw;
}

#apply a:hover {
  text-decoration: none;
  color: White;

}

@media screen and (max-width:1200px){
  #apply{
    top:50vh;
    width:30vw;
  }
}

@media screen and (max-width:992px){
  #apply{
    width:27vw;
    height:10vh;
    font-size: 2.5vw;
    top:40vh;
  }
}

@media screen and (max-width:768px){
  #apply{
    width:27vw;
    height:7vh;
    font-size: 2.5vw;
    top:31vh;
  }
}
@media screen and (max-width:576px){
  #apply{
    width:80vw;
    font-size:5vw;
    height:10vh;
    top:60vh;
    left:8vw;

  }
  #school-title{
    display: block;
    text-align: center;
    position: static;
    font-size: 5vw;
    margin-top: 5vh;
  }
  #school-pic{
    float: center;
    width:100%;
  }
  
}

/* #themes{
  margin-left: 20px;
}

#themes span{
  width: 20px;  
  height: 20px;
  border-radius: 50%;
  background-color: rgb(124, 52, 124);
  display: inline-block;
} */

