#teachers-container{
    display: flex;
    margin: 10px;
    justify-content: start;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-item {
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    height: 440px;    
    width: 31%;
    text-align: center;
    flex-grow: 0;
    
}

.fimg{
    height: 330px;
    width: 85%;
    border-radius: 10px;
}

.job{
    letter-spacing: 3px;
}
* {box-sizing: border-box}

#cover-div{
    width:100%;
    height:300px;
    margin-top:5px; 
    border-radius: 5px;

}

#cover{
    width:100%;
    height:300px;
    border-radius: 5px;

}

#profile-pic-div{
    width: 200px;
    height: 200px;
    background-color: rosybrown;
    margin-top: -80px;
    margin-left: 40px;
    border-radius: 5px;
}
#profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 5px;

}

#teacher-name{
    margin-left: 255px;
    margin-top: -110px;
}

.tab{
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: auto;
    height: 50px;
    margin-left:250px ;
    margin-top:25px;
    
}

.tab button{
    display: inline-block;
    background-color: inherit;
    cursor: pointer;
    transition: 0.3s;
    font-size: 19px;
    border: none;
    outline: none;
    padding: 5px;
    padding-left: 10px;    
    height: 100%;
}
.tab button:hover {
    background-color: #ddd;
}
  
.tab button.active {
    background-color: #ccc;
}

.tabcontent{
    margin-left: 251px;
    padding: 10px;
    border: 1px solid #ccc;
    border-top:none;
    height: 200px;
    padding-top: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
}