* {box-sizing: border-box}
#teachers-title{
    margin-left:45px;
    margin-top:40px;
    margin-bottom:-60px;
    background-color: #66AED8;
    text-align: center;
    border-radius: 2vw;
    width:60%;
    margin-left:19%;
    padding: 20px;
    color: whitesmoke;
    
}

#teachers-container{
    border: 0.5px solid black;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    top: 100px;
    left:2.5%;
    /* background-color:#2a00ea3d; */
    /* background-color:#8f8cbc; */
    background-color: #84CCD8;
    height: 90%;
    width: 95%;
    margin-top: -50px;
    margin-bottom:90px;
}
.flex-item{
    /*background-color: #6f50fbcc;*/
    /* border: 0.5px solid black; */
    border-radius: 25px;
    margin: 10px;
    height:230px;    
    width: 30%;
    text-align: center;
    padding-top: 10px;
    /* flex-grow:1; */
    /* flex-shrink: 1; */
}
.flex-item:hover{
    /* background-color:#6f50fb45; */
    background-color: #66AED8;
}
.t1 {
    text-decoration: none;
    font-size: 15px;
    color: white;
    background-color: #2770BA;
    /* background-color:#f69eaf; */
    /* background-color: #7ebe91; */
    display: inline-block;
    width: 170px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}
.t1:hover{
    text-decoration: none;
    color:black;
}

.fimg{
    height: 119.33px;
    width: 120px;
    border-radius: 10px;
}

.spec{
    padding-top: 15px;
    letter-spacing: .5px;
    font-weight:100;
    font-size: 14px;
    opacity: .8;
}
/* Used for footer */
body {
    margin-bottom: 155px;
}

@media screen and (min-width:576px){
    #teachers-title{
        width:90%;
        margin-left:auto;
        margin-right: auto;
    }
    .flex-item:nth-child(odd){
        margin-right: 13%;
    }
    #main-footer{
        width:50vw;
      }
        }

@media screen and (min-width:768px){
    .flex-item{
        width: 29%;
    }
    .flex-item:nth-child(odd){
        margin-right: 0px;
    }
    #main-footer{
        width: 30vw;
    }


}

@media screen and (min-width:992px){
    .flex-item{
        width: 19%;
        margin-right: 0;       
    }
    #main-footer{
        width: 25vw;
    }
}