{%extends 'school/base.html' %}

{%block head%}
<title>{{course.name}}</title>

{%endblock%}

{%block body%}
<div class="container">
    <h3>
        Course: {{course.name}}
        Code: {{course.code}}
        Classroom: {{course.classroom}}
        Teacher: {{course.teacher_of_course}}
        </h3>
        <h3>Students:</h3>
        
        {%for student in students %}
        <p>{{student.name}}</p>
        {%endfor%}

        <center><h1>Tests</h1></center>

{%for test in tests%}
   <a href="{% url 'school:test_detail' pk=test.pk course_num=test.course.pk %}">{{test.name}}</a>

{%endfor%}




</div>
{%endblock%}