{%extends 'school/base.html' %}
{%load static%}
{%block head%}
<title>MY Classrooms</title>
{%endblock%}

{%block body %}
<div class="container mt-4">
<h1><i><center> GET CLASSROOMS OF THE TEACHER</center></i></h1>
<p>Teacher NAME:  {{teacher}}   </p>
<p>Teacher username:     {{teacher.user}}</p>
<p> current user: {{request.user}}</p>

{%if classrooms %}    <!-- teacher.classrooms , will work but i make it in views-->
<h3>Teacher's classrooms</h3>
{%for classroom in classrooms %}
<p>{{classroom.class_number}}</p>

{%endfor%}
{%endif%}
</div>

<div class="container">
    <h1><i><center> GET COURSES OF THE TEACHER </center></i> </h1>

<p>Courses</p>
{%for course in courses %}
<a href="{% url 'school:course' pk=course.pk %}">{{course.name}} </a>

{%endfor%}

</div>
{%endblock %}