{%extends 'school/base.html' %} {%load static%} {%block head%}
<title>{{teacher | title}}</title>
<link rel="stylesheet" href="{% static 'css/teacher_detail.css' %}" />
<script src="{% static 'js/classroom.js' %}" defer></script>
{%endblock%} {%block body%}
<div class="container">
  <div id="profile-pic-div">
    {%if teacher.photo %}
    <img class="profile-pic" src="{{teacher.photo.url}}" alt="" />
    {%else%}
    <img
      class="profile-pic"
      src="{%static 'default/undraw_profile_pic_ic5t.svg' %}"
    />
    {%endif%}
  </div>

  <h3 id="teacher-name">{{teacher | title}}</h3>
  <div class="tab">
    <button
      class="tablinks"
      onclick="openSection(event, 'info')"
      id="defaultOpen"
    >
      About
    </button>
    <button class="tablinks" onclick="openSection(event, 'courses')">
      Courses
    </button>
    <button class="tablinks" onclick="openSection(event, 'ackn')">
      Achievements
    </button>
  </div>

  <div id="info" class="tabcontent">
    <table class="table">
      <tbody>
        <tr>
          <td><b>Address:</b></td>
          <td>{{teacher.address}}</td>
        </tr>
        <tr>
          <td><b>Mobile Number:</b></td>
          <td>+{{teacher.phone}}</td>
        </tr>
        <tr>
          <td><b>Specialization:</b></td>
          <td>{{teacher.specialization}}</td>
        </tr>
        <tr>
          <td><b>Age:</b></td>
          <td>{{age}}</td>
        </tr>
        <tr>
          <td><b>Joined:</b></td>
          <td>{{teacher.user.date_joined | date }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="ackn" class="tabcontent">
    <p>{{teacher.achievements}}</p>
  </div>

  <div id="courses" class="tabcontent">
    {%if teacher.course_set.all %}
    <table class="table">
      {% for course in teacher.course_set.all %}
      <tr>
        <td>
          <a href="{% url 'school:course' pk=course.pk %}"
            >{{course.name | title}}</a
          >
        </td>
      </tr>
      {%endfor%}
    </table>
    {%else%}
    <p>
      {%if teacher.gender == 0 %} Mr {%elif teacher.gender == 1%} Mrs {%endif%}
      {{teacher | title}} has no courses at the current time.
    </p>
    {%endif%}
  </div>
</div>
{%endblock%}
