{% extends 'school/base.html' %}
{%load static%}

{% block head %}
<title>{{school}} Teachers</title>
<link rel="stylesheet" href="{% static 'css/teachers.css' %}">
{% endblock %}

{%block body%}
{% if teachers %} 
<h2 id='teachers-title'> Teachers of {{school}}</h2>
<div id='teachers-container'>
{% for teacher in teachers%}
<div class='flex-item'>

    {%if teacher.photo %}
    <img class='fimg'src="{{teacher.photo.url}}">
    {%else%}
    <img class='fimg'src="{%static 'default/undraw_profile_pic_ic5t.svg' %}">
    {%endif%}  

    <h4 class="spec">{{teacher.specialization}}</h4>
{%if user.is_staff%}
<h2><a class="t1" href="{% url 'school:teacher' pk=teacher.pk %}">{{teacher | title}}</a></h2>
{%else%}
<h2 class="t1" style='cursor:context-menu'>{{teacher | title}}</h2>
{%endif%}
</div>
{%endfor%}
</div>

{%else%}
There are No teachers here.
{%endif%}
</div>
{%endblock%}