{%extends 'school/base.html' %}
{%load static%}

{%block head%}
<title>{{test.name}}</title>
<script src="{% static 'js/grade.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'css/test.css' %}">
{%endblock%}

{%block body%}

<div class="container mt-4">
    <p>TEST:  {{test.name}} </p>
    <p>COURSE: {{test.course}} </p>
    <h3>Students:</h3>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th class='pk-col'>Grade PK </th>
            <th scope="col">Student</th>
            <th class='grade-col' scope="col">Grade</th>    
        </tr>
    </thead>
    <tbody>
        {%for student,grade in enrolled_students.items %}
        <tr>
            <td class='pk-col'>{{grade.pk}}</td>
            <td class="student_name">{{student}}</td>
            <td class='grade-col'> <input type="number" name="grade" class="grade" value="{{grade}}">
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>




</div>

{%endblock%}